
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width: 100%;
}
.header_nav, .footer_ul {
  list-style-type: none;
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  width: 100%;
}
.logo{
  width: 50px;
  height: auto;
}